@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "product_sans";
  src: url("../fonts/ProductSans-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width:100%;

}

/* src/styles/global.css */

@layer utilities {
  /* Custom Horizontal Scrollbar */
  /* Webkit scrollbar for Chrome, Safari */
  ::-webkit-scrollbar {
    height: 4px; /* Height of the horizontal scrollbar */
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #4A40BF; /* Background of the track */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover state */
  }

}
